:root{
    --color-bgc: #022323;
    --color-font: #898989;
    --color-streaming: #f00969d3;
    --streamingX: 0;
    --streamingY: 0;
    --streamingTitle: 40pt;
    --streamingContent: calc(100% - var(--streamingTitle) - var(--streamingCounter));
    --streamingCounter: 38pt;
}
*{
    box-sizing: border-box;
}
#page-header,#page-footer{
    overflow: hidden;
    height: 60pt;
    background-color: #010826;
    color: #d2d2d2;
}
#page-header{
    z-index: 9;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 2pt;
    h1{
        height: 100%;
        background-color: inherit;
        font-size: 12pt;
    }
}
#root{
    overflow-y: auto;
    margin: 0 auto;
    width: 80%;
    min-height: calc(100vh - 84pt);
    padding: 10pt;
    .stream-wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300pt, 1fr));
        grid-gap: 20pt;
        padding: 10pt;
        .streaming-card{
            overflow: hidden;
            box-shadow: 0 0 8pt 1pt var(--color-font);
            border-radius: 8pt;
            position: relative;
            z-index: 1;
            border-radius: 1pt;
            cursor: pointer;
            color: var(--color-font);
            .steaming-card-item{
                position: relative;
                z-index: 4;
                height: 100%;
                background-color: transparent;
                padding: 20pt;
                border: 1pt inset;
                border-radius: 2pt;
                
                .streaming-card-item-title{
                    height: var(--streamingTitle);
                    background-color: inherit;
                    color: #ddd;
                    font-size: 16pt;
                    text-indent: 10pt;
                }
                .streaming-card-item-content{
                    height: var(--streamingContent);
                    background-color: inherit;
                    padding: 10pt;
                    font-size: 13pt;
                }
                .streaming-item-counter{
                    height: var(--streamingCounter);
                    padding:0 10pt;
                    font-size: 11pt;
                    text-align: end;
                    button{
                        background-color: inherit;
                    }
                }
                .streaming-card-descrption{
                    background-color: inherit;
                    font-size: 10pt;
                }
                
            }
            
        }
        .streaming-card::before,.streaming-card::after{
            content: "";
            position: absolute;
        }
        .streaming-card::after{
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1c1c1c20;
            pointer-events: none;
            fill: blur(30pt);
        }
        .streaming-card::before{
            z-index: 1;
            opacity: 0;
            transform: translate(-50%,-50%);
            left: var(--streamingX);
            top: var(--streamingY);
            width: 500pt;
            height: 500pt;
            background: radial-gradient( var(--color-streaming) , transparent,transparent );
            border-radius: 50%;
            transition: opacity .1s;
        }
        .streaming-card:hover::before{
            opacity: 1;
        }
    }
}
#page-footer{
    padding: 10pt;
    a{
        background-color: transparent;
    }
}